@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

.SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SearchBar__form {
    margin: 2rem;
}

.SearchBar__input {
    width: 100%;
    height: 2rem;
    border: none; 
    border-radius: 0.7rem;
    padding: 0.8rem;
    background-color: #07080a;
    color: #FCEEDF;
    font-family: 'Cousine', monospace;
}